@page
@{
    Layout = "_LayoutEncuesta";

}
<h1>Encuesta de Satisfacción</h1>
<p>
    Muchas gracias por sus comentarios.<br />Nos ayudará a mejorar nuestro servicio.
</p>
<a href="~/index">
    <input type="button" value="CONTESTAR DE NUEVO" />
</a>